.counter {
  display: flex;

}

button {
  background-color: aqua;
  margin: 5px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid aqua;
  margin: 10px;
  border-radius: 5px;
}

.app {
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.count {
  border-radius: 5px;
  border: 2px solid aqua;
  height: 160px;
  margin-left: 50px;
  align-items: center;
}

.dial {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  font-size: 30px;
  margin-bottom: 44px;
}

.dial1 {
  color: red;
}

.dial2 {
  color: red;
  font-size: 18px;
}

.settertext {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aqua;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}

.setterInput {
  width: 60px;
  margin-left: 30px;
}

.setterInputError {
  width: 60px;
  margin-left: 30px;
  color: red;
  border-color: red;
}

